<% if title.present? %>
  <div class="py-6">
    <%= title %>
  </div>
<% end %>
<div class="flex flex-col lg:flex-row bg-white shadow rounded">
  <div class="w-auto">
    <% if sidebar.present? %>
      <%= sidebar %>
    <% end %>
  </div>
  <div class="w-full">
    <% if header.present? %>
      <div class="border-b border-gray-200 px-4 py-5 sm:px-6">
        <%= header %>
      </div>
    <% end %>
    <% if body.present? %>
      <div class="px-4 py-5 sm:px-6">
        <%= body %>
      </div>
    <% end %>
    <% if items.present? || item_template.present? %>
      <%= tag.ul class: 'divide-y divide-gray-200 text-gray-900' do %>
        <% items.each do |item| %>
          <%= tag.li class: 'px-4 py-5 border-t border-gray-200 sm:px-6' do %>
            <%= item %>
          <% end %>
        <% end %>
        <%= item_template %>
      <% end %>
    <% end %>
    <% if paginator.present? %>
      <%= paginator %>
    <% end %>
    <% if footer.present? %>
      <%= footer %>
    <% end %>
  </div>
</div>