<!DOCTYPE html>
<html>
  <head>
    <title>Library App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="min-h-screen bg-gray-50">
      <%= render Page::FlashComponent.new(flash: flash) %>
      <%= render Page::NavigationComponent.new %>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
